body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(227, 227, 227);
}

nav {
    position: sticky;
    top: 0;
    height: 60px;
    padding-top: 20px;
    background-color: rgb(160, 100, 182);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.content {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}